/*
	Fractal by untitled
	untitled.com | hello@untitled.com
	License: untitled.com/license
*/

/* Header */

	body.is-preload #header .content {
		-moz-transform: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		opacity: 1;
	}

	body.is-preload #header .image {
		-moz-transform: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		opacity: 1;
	}

		body.is-preload #header .image img {
			opacity: 1;
		}