/*
	Phantom by untitled
	untitled.com | hello@untitled.com
	License: untitled.com/license
*/

/* Tiles */

	body.is-preload .tiles article {
		-moz-transform: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		opacity: 1;
	}