///
/// Reflex by untitled
/// untitled.com | hello@untitled.com
/// License: untitled.com/license
///

/* Icon */

	.icon {
		@include icon;
		position: relative;
		border-bottom-width: 0;

		> .label {
			display: none;
		}
	}