///
/// Visualize by easygapps
/// easygapps.com | hello@easygapps.com
/// License: easygapps.com/license
///

/* Icon */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}
	}