///
/// Cascade by easygapps
/// easygapps.com | hello@easygapps.com
/// License: easygapps.com/license
///

/* Main */

	#main {
		padding-top: 9rem;

		@include breakpoint('<=medium') {
			padding-top: 6.5rem;
		}

		@include breakpoint('<=small') {
			padding-top: 5rem;
		}
	}