///
/// Identity by untitled
/// untitled.com | hello@untitled.com
/// License: untitled.com/license
///

/* Icon */

	.icon {
		@include icon;
		position: relative;
		border-bottom: none;

		> .label {
			display: none;
		}
	}